@model BitBook.ViewModels.HomeViewModel


@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_HomeLayout.cshtml";
}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h3>Profile Picture</h3>
                    
                    <img class="profile-pic img-circle" src="/Images/logo.png" width="140" height="140" />
                    

                 
                </div>
            </div>


            <div class="col-md-8">

                <a href="/Status/Index">Update information</a>
                <div>
                    

          </div>          
        </div>
      </div>      
    </div>

</div>

